{% extends 'admin_app/base.html' %}
{% load static %}
  


{% block content %}


        <div class="container">

            <div class="ps-section__content">
                <div class="ps-block--vendor-dashboard">
                    <div class="ps-block__header">
                     <h3>Polls <a href="{% url 'dashboard_add_poll' %}" class="ps-btn"><i class="icon-sync2"></i> Add New</a> </h3>
                    </div>
                    <div class="ps-block__content">
                        <div class="table-responsive">
                            <table class="table ps-table ps-table--vendor">
                                <thead>
                                    <tr>
                                        <th>date</th>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th>Options</th>
                                         <th></th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                	{% if polls %}
                                		{% for item in polls %}
				                            <tr>
				                                <td>{{ item.pub_date }}</td>
				                                <td><a href="{% url 'dashboard_poll_detail' item.id %}">{{ item.title }}.</a></td>
				                                <td>{{ item.description }}</td>
				                                <td>{{ item.options.count }}</td>
				                                <td><a href="{% url 'dashboard_add_poll_option' item.id %}">Add Option</a></td>
				                            </tr>
				                          {% endfor %}
				                          
				                       {% else %}
				                       		 <tr>
				                                <td>Sorry, Nothing Yet!</td>
				                                 <td>Sorry, Nothing Yet!</td>
				                                  <td>Sorry, Nothing Yet!</td>
				                                   <td>Sorry, Nothing Yet!</td>
				                                    <td>Sorry, Nothing Yet!</td>
				                            </tr>
				                        {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    
{% endblock %}
