 {% extends 'main/base.html' %}
{% load static %}

{% block search_content %}
    <div class="ps-panel--sidebar" id="search-sidebar">
        <div class="ps-panel__header">
            <form class="ps-form--search-mobile" method="post">
                {% csrf_token %}
                <div class="form-group--nest">
                    <input name="query" class="form-control" type="text" placeholder="Search something...">
                    <button><i class="icon-magnifier"></i></button>
                </div>
            </form>
        </div>
        <div class="navigation__content"></div>
    </div>
{% endblock search_content %}

{% block search_contentt %}

            
                <nav class="navigation" style="background-color: #f4f4f4">
            <div class="ps-container">
                <div class="navigation__left">
                    <div class="menu--product-categories">
                       
                        
                    </div>
                </div>
                <div class="navigation__right">
                    <ul class="menu">
                       <h4 style="margin: 25px">COMFIRM PURCHASE</h4>
                        
                    </ul>
                    
                </div>
            </div>
        </nav>

{% endblock search_contentt %}



{% block content %}
		
		<div class="ps-checkout ps-section--shopping">
            <div class="container">
                <div class="ps-section__header">
                    <h1>Checkout</h1>
                </div>
                <div class="ps-section__content">
                    <form class="ps-form--checkout" method="post" enctype="multipart/form-data">
				{% csrf_token %}
                        <div class="row">
                            <div class="col-xl-7 col-lg-8 col-md-12 col-sm-12  ">
                                <div class="ps-form__billing-info">
                                    <h3 class="ps-form__heading">Billing Details</h3>
                                    <div class="form-group">
                                        <label>Full Name<sup>*</sup>
                                        </label>
                                        <div class="form-group__content">
                                            <input style="text-align: left" name="full_name" class="form-control" type="text" required="required">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Company Name
                                        </label>
                                        <div class="form-group__content">
                                            <input style="text-align: left" name="company_name" class="form-control" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Email Address<sup>*</sup>
                                        </label>
                                        <div class="form-group__content">
                                            <input style="text-align: left" name="email" class="form-control" type="email" required="required">
                                        </div>
                                    </div>
                                    
                                  	<!--
                                  	<div class="form-group">
                                        <label>Password<sup>*</sup>
                                        </label>
                                        <div class="form-group__content">
                                            <input name="password" class="form-control" type="password">
                                        </div>
                                    </div>
                                    -->
                                    
                                    <div class="form-group">
                                        <label>Country
                                        </label>
                                        <div class="form-group__content">
                                            <input style="text-align: left" name="country" class="form-control" type="text" value="Nigeria" required="required">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Phone<sup>*</sup>
                                        </label>
                                        <div class="form-group__content">
                                            <input style="text-align: left" name="phone" class="form-control" type="text" required="required">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Address<sup>*</sup>
                                        </label>
                                        <div class="form-group__content">
                                            <input style="text-align: left" name="address" class="form-control" type="text" required="required">
                                        </div>
                                    </div> 
                                    <h3 class="mt-40"> Addition information</h3>
                                    <div class="form-group">
                                        <label>Order Notes</label>
                                        <div class="form-group__content">
                                            <textarea name="order_note" class="form-control" rows="7" placeholder="e.g. special notes for delivery."></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-4 col-md-12 col-sm-12  ">
                                <div class="ps-form__total">
                                    <h3 class="ps-form__heading">Your Order</h3>
                                    <div class="content">
                                        <div class="ps-block--checkout-total">
                                            <div class="ps-block__header">
                                            </div>
                                            <div class="ps-block__content">
                                                <table class="table ps-block__products">
                                                    <tbody>
                                                    	{% if product_quantitys %}
                                                    		{% for item in product_quantitys %}
				                                                <tr>
				                                                    <td>Name:<a href="#"> {{ item.product.name }}</a>
				                                                        <p>Quantity:<strong> {{ item.quantity }}</strong></p>
				                                                    </td>
				                                                    <td>Price: ₦{{ item.product.price }}
				                                                    	<p>Shipping Charge:<strong> ₦{{ item.total_shipping_charge }}</strong></p>
				                                                    </td>
				                                                </tr>
				                                              {% endfor %}
				                                              
				                                              {% else %}
				                                              	 <tr>
				                                                    <td>
				                                                    	<p>Sorry, Nothing Yet!</p>
				                                                    </td>
				                                                   </tr>
				                                              {% endif %}
                                                    </tbody>
                                                </table>
                                                <h3>Total <span>₦{{ total_price }}</span></h3>
                                            </div>
                                        </div><button class="ps-btn ps-btn--fullwidth">Proceed to checkout</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    
 {% endblock %}
