{% extends 'main/base.html' %}
{% load static %}
  
{% block search_content %}
    <div class="ps-panel--sidebar" id="search-sidebar">
        <div class="ps-panel__header">
            <form class="ps-form--search-mobile" method="post">
                {% csrf_token %}
                <div class="form-group--nest">
                    <input name="query" class="form-control" type="text" placeholder="Search something...">
                    <button><i class="icon-magnifier"></i></button>
                </div>
            </form>
        </div>
        <div class="navigation__content"></div>
    </div>
{% endblock search_content %}

{% block search_contentt %}

            
                <nav class="navigation" style="background-color: #f4f4f4">
            <div class="ps-container">
                <div class="navigation__left">
                    <div class="menu--product-categories">
                       
                        
                    </div>
                </div>
                <div class="navigation__right">
                    <ul class="menu">
                       <h4 style="margin: 25px">COMFIRM PAYMENT</h4>
                        
                    </ul>
                    
                </div>
            </div>
        </nav>

{% endblock search_contentt %}

{% block content %}

<br><br>
      <div class="container text-center">
        <div class="row">
          
          <div class="col-md-12 col-sm-12">
          <h4>Make Payment</h4>
          <hr>
          <br><br>
          <form>
			  <script src="https://js.paystack.co/v1/inline.js"></script>
			  <button type="button" onclick="payWithPaystack()" class="col-md-6 col-sm-12 ps-btn"> Pay </button> 
        <p><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor.</p>
			</form>


        </div>

          </div>
        </div>
      </div>
      <br><br><br>
    <hr>
    



<!-- place below the html form -->
<!-- place below the html form -->
<script>
  function payWithPaystack(){
    var handler = PaystackPop.setup({
      key: 'pk_test_63f455ebba60b2058709180e31a9936c418588d7',
      email: '{{ order.customer.email }}',
      amount: {{ order.cart.total_price }} * 100,
      ref: ''+Math.floor((Math.random() * 1000000000) + 1), // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you
      metadata: {
         custom_fields: [
            {
                display_name: "{{ order.customer.name }}",
                variable_name: "{{ order.customer.name }}",
                value: "{{ order.customer.phone }}"
            }
         ]
      },
      callback: function(response){
          alert('success. transaction ref is ' + response.reference);
          window.location.href = "{% url 'confirm_order' order.id %}";
      },
      onClose: function(){
          alert('window closed');                                                  
      }
    });
    handler.openIframe();
  }
</script>

{% endblock %}