{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="odiaga raymond">
    <meta name="keywords" content="fratishop, furniture, shop, manufacture, interior furniture">
    <meta name="description" content="home for all interior furniture">
    <title>Fratishop | Comming Soon!</title>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700&amp;amp;subset=latin-ext" rel="stylesheet">

    
    <link rel="stylesheet" href="{% static 'main/plugins/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/fonts/Linearicons/Linearicons/Font/demo-files/demo.css' %}">
    <link rel="stylesheet" href="{% static 'main/plugins/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/plugins/owl-carousel/assets/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/plugins/owl-carousel/assets/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/plugins/slick/slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'main/plugins/nouislider/nouislider.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/plugins/lightGallery-master/dist/css/lightgallery.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/plugins/jquery-bar-rating/dist/themes/fontawesome-stars.css' %}">
    <link rel="stylesheet" href="{% static 'main/plugins/select2/dist/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
</head>

<body style="background-color: #f4f4f4">
    <div class="ps-page--comming-soon">
        <div class="container">
            <div class="ps-page__header"><a class="ps-logo" href="#"><img src="{% static 'main/img/frati1png.png' %}" alt="" width="300px" heigth="200px"></a>
                <h1 style="color: #34495e">Fratishiop is Coming Soon</h1>
                <hr>
                <p>A New Experience Is Comming Your Way In A Bit!</p>
            </div>
            <div class="ps-page__content"><img src="img/coming-soon.jpg" alt="">
                <figure>
                    <figcaption>FRATISHOP WILL BE LAUNCHED IN:</figcaption>
                    <ul class="ps-countdown" data-time="October 1, 2020 15:37:25">
                        <li><span class="days"></span>
                            <p>Days</p>
                        </li>
                        <li><span class="hours"></span>
                            <p>Hours</p>
                        </li>
                        <li><span class="minutes"></span>
                            <p>Minutes</p>
                        </li>
                        <li><span class="seconds"></span>
                            <p>Second</p>
                        </li>
                    </ul>
                </figure>
            </div>
            <div class="ps-page__footer">
                <ul class="ps-list--social">
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                </ul>
            </div>
        </div>
    </div>


    <script src="{% static 'main/plugins/jquery.min.js' %}"></script>
    <script src="{% static 'main/plugins/nouislider/nouislider.min.js' %}"></script>
    <script src="{% static 'main/plugins/popper.min.js' %}"></script>
    <script src="{% static 'main/plugins/owl-carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'main/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'main/plugins/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'main/plugins/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 'main/plugins/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'main/plugins/jquery.matchHeight-min.js' %}"></script>
    <script src="{% static 'main/plugins/slick/slick/slick.min.js' %}"></script>
    <script src="{% static 'main/plugins/jquery-bar-rating/dist/jquery.barrating.min.js' %}"></script>
    <script src="{% static 'main/plugins/slick-animation.min.js' %}"></script>
    <script src="{% static 'main/plugins/lightGallery-master/dist/js/lightgallery-all.min.js' %}"></script>
    <script src="{% static 'main/plugins/sticky-sidebar/dist/sticky-sidebar.min.js' %}"></script>
    <script src="{% static 'main/plugins/select2/dist/js/select2.full.min.js' %}"></script>
    <script src="{% static 'main/plugins/gmap3.min.js' %}"></script>
    <!-- custom scripts-->
    <script src="{% static 'main/js/main.js' %}"></script>
</body>

</html>